node_modules
.next
out
.env
.env.local
.env*.local
*.log
.DS_Store
.vscode
.idea
dist
build
prisma/dev.db
prisma/dev.db-journal
public/uploads/**/*
!public/uploads/.gitkeep

# TypeScript incremental build cache
tsconfig.tsbuildinfo

# Lighthouse reports
lighthouse-reports
.lighthouseci
